body{
  background-color: #011627;
  color: white;
  text-align: center;
  border: 40px solid #2EC486;
  border-top: 0px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Vujahday Script', cursive;
  margin: 0px;
}
label{
  font-weight: bold;
}
form{
  margin-bottom: 10px;
  font-size: 1.2em;
}

p{
  font-size: 20px;
  padding-top: 3%;
  padding-left:20%;
  padding-right:20%;
}

#buton{
  background-color: #e3b600;
  height: 50px;
  width: 100px;
  margin: 4px;
  margin-top: 12px;
  font-size: 1em;
  border-radius: 25px;
}
